{% paginate collection.products by 12 %}
  <header role="banner" class="dale-margin">


    <div class="bar">
      <div class="bg" style="{% if collection.metafields.custom_fields["small_positioning"] != blank %} --small: {{ collection.metafields.custom_fields["small_positioning"] }};{% endif %}{% if collection.metafields.custom_fields["large_positioning"] != blank %} --large: {{ collection.metafields.custom_fields["large_positioning"] }};{% endif %}">


        {% include 'responsive-image' with image: collection.image, image_class: "", wrapper_class: "", max_width: 1200, max_height: 500 %}
      </div>
      <div class="container">
        <h1>{% if collection %}{{ collection.title }}{% endif %}</h1>
      </div>
    </div>


    <div class="container">

    {% if collection.description != blank %}
      <div class="rte">
        <div class="row">
        <div class="col-sm-10 pt-5 pb-4">
          <p class="lead">{{ collection.description }}</p>
        </div>
        </div>


      </div>
    {% endif %}
    </div>

  </header>
  <section class="related">

    <div class="container">

     {% assign current = page_title | handle %}

      {% for product in collection.products %}




        {% if product.handle != current %}
      <div class="row align-items-center">

      <div class="col-xl-4 col-md-3 mb-5" id="{{ product.handle }}">

        <div class="card">

          <div class="top-image larger">

            <a href="{{ product.url | within: collection }}">

              <div class="lazyload" data-bgset="{% include 'responsive-bg-image', image: product.featured_image %}"></div>


              <div  class="overlay">

              <div class="lazyload" data-bgset="{% include 'responsive-bg-image', image: product.featured_image %}"></div>
              </div>



            </a>

          </div>
          </div>
        </div>

      <div class="col-xl-8 col-md-9 mb-5" id="{{ product.handle }}">

        <div class="row align-items-center">

          <div class="col-lg-8">
          <div class="container-fluid">
              <h2 class="mb-2">{{ product.title }}</h2>

              {% if product.metafields.custom_fields["instructor"] != blank %}


              {% endif %}

              {% if product.metafields.custom_fields["course_intro"] != blank %}

                    <p class="mb-2">{{ product.metafields.custom_fields["course_intro"] }}</p>

              {% else %}

                    <p class="mb-2">Lorem ipsum dolor sit amet, an sed ullum consetetur dissentiunt, ea autem vocibus contentiones eos, duo ei fuisset splendide. Dolorem assueverit et vim, tollit ornatus labores ut vis. Nam et ocurreret inciderint conclusionemque, te eum quod labore aliquando, eos id feugiat vocibus. Inermis mediocritatem per eu, sit te sumo laudem. Exerci detraxit dissentiet vel ne, ea est nullam salutatus. Appareat qualisque vis ut, nominavi detraxit eam ne, ut vix suscipit scriptorem.</p>
              {% endif %}

              <p class="h5 mb-lg-0 mt-lg-0 mt-2 mb-2 secondary"><span>Instructed by {{ product.metafields.custom_fields["instructor"] }}</span></h5>


          </div>


          </div>

          <div class="col-lg-4">

          <div class="row">
            <div class="col-lg-12 col-auto">
              <a class="btn btn-primary block mb-lg-3 mb-2 no-small" href="{{ product.url | within: collection }}"><img class="d-lg-none d-inline-block" src="{{ 'icon-info.svg' | asset_url }}"> Course Details</a>
            </div>
            <div class="col-lg-12 col-auto">
            {%- assign current_variant = product.selected_or_first_available_variant -%}



            {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="js">

                    {% if forloop.index0 > 0 %}

                      {% for value in option.values %}
                        <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                        <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                      {% endfor %}

                    {% else %}

                      <label for="Option{{ option.position }}">
                        {{ option.name }}
                      </label>

                      <select
                        id="Option{{ option.position }}"
                        name="options[{{ option.name | escape }}]">
                        {% for value in option.values %}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                          </option>
                        {% endfor %}
                      </select>

                    {% endif %}
                  </div>
                {% endfor %}
              {% endunless %}

                <select name="id" hidden>
                  {% for variant in product.variants %}
                    <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}">
                        {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>

              <label for="Quantity" hidden>{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" hidden>



              <button
                type="submit"
                name="add"
                class="btn btn-primary block mb-3 no-small"
                data-submit-button
                {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <img class="d-lg-none d-inline-block" src="{{ 'icon-plus.svg' | asset_url }}">
                  <span data-submit-button-text>
                    {% if current_variant.available %}
                      Register for Course
                    {% else %}
                      Registration Closed
                    {% endif %}
                  </span>
              </button>
            {% endform %}
            </div>
            </div>
          </div>




        </div>

        </div>
        {% endif %}

      </div>

      {% endfor %}

    </div>

  </section>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
