<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'password' %}
  {% include 'style-tags', layout: 'theme' %}

  {% include 'css-variables' %}

  {% include 'script-tags', layout: 'password' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body class="template-password">



<div class="container" style="height: 100vh">
   <div class="row align-items-center" style="height: 100vh">
      <div class="col-auto mx-auto">

        <div hidden>
        {{content_for_layout}}
        </div>

        <div id="Login">

          <div class="row">
          <div class="col-sm-12 mb-4">
            <img class="img-fluid" src="{{ 'logo-standard-black.svg' | asset_url }}">
          </div>
          </div>

          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}

          <div class="row mb-4 align-items-center">
          <div class="col-sm-8 col">
            <div class="input-group">
            <input
              type="password"
              name="password"
              id="Password"
              class="form-control"
              required>
              <label for="password" class="float-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
            </div>


          </div>
          <div class="col-sm-4 col-auto">
                        <button type="submit" name="commit" class="btn btn-primary">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          </div>
          </div>



          {% endform %}
          <p class="text-center">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
   </div>
</div>


</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
